.home {
  justify-items: center;
  align-content: center;
  gap: var(--gap);
  min-block-size: 100%;

  h1 {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(1.8rem, 2vw, 2.2rem);
    color: var(--color-radio);

    svg {
      font-size: 1.5em;
    }
  }

  .history {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap);

    ul {
      display: flex;
      gap: var(--gap);

      li {
        background-color: var(--color-light-gray);
        padding: 0.3rem 0.8rem;
        border-radius: var(--border-radius);
        transition: background 0.3s ease;
      }
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap);
  max-width: 1200px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
