.home {
  justify-items: center;
  align-content: center;
  gap: 2rem;
  min-block-size: 100%;
}

.home h1 {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: #4a044e;
}

.home h1 svg {
  font-size: 1.5em;
}

.home .history {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.home .history > ul {
  display: flex;
  gap: 1rem;
}

.home .history > ul > li {
  background-color: #cccccc;
  padding: 0.25rem 0.75rem;
  border-radius: 999rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
}

/* حالت موبایل */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
